#left {
    display: inline-block;
    border-right: 5px solid black;
    margin-left: 40px;
    padding-right: 250px;
}

ul {
    list-style: none; 
}

#right {
   display: inline-block;
}

li {
    margin-bottom: 5px;
}

#submit{
    margin-top: 5px;
}

#clear {
    margin-right: 20%;
}

.big {
    font-size: 2em;
}

/* .big {
    font-size: 2em;
}

#left_half {
    display: inline-block;
}

#right_half {
    display: inline-block;
} */