<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% load static %}
      <link rel="stylesheet" href="{% static 'words/styles.css' %}" media="screen" title="no title"  charset="utf-8">
      <title>Session Words</title>
  </head>
  <body>
      <div id="left">
          <form action="/session_words/add" method="POST" id="submit">
              {% csrf_token %}
              <h1>Add a new word!</h1>
              <input type="text" name="word">
              <ul>        
                  <li><h3>Choose a color:</h3>
                  <li><label for="red">Red</label>
                      <input type="radio" name="color" value="red"></li>
                  <li><label for="green">Green</label>
                      <input type="radio" name="color" value="green"></li>
                  <li><label for="blue">Blue</label>
                      <input type="radio" name="color" value="blue"></li>               
                  <li><input type="checkbox" name="big">
                      <label for="big">show in BIG fonts</label></li>
                  <li><input type="submit" value="Add to Session"></li>
              </ul>
          </form>
      </div>
      <div id="right">
          {% if request.session.word %}
            {% for word in request.session.word %}
              <p><span style="color:{{ word.color }}" class="{{ word.big }}">{{word.word}}</span> - added on {{ word.created_at }}</p>
            {% endfor %}
          {% endif %}
          <form action="/session_words/clear" method="POST" id="clear">
              {% csrf_token %}
              <input type="submit" value="Clear Session">
          </form>
      </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Words</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'words/styles.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div id="wrapper">
      <div id="left_half">
        <h2>Add a new word</h2>
        <form id="add_word" action="/session_words/add" method="POST">
            {% csrf_token %}
            <input type="text" name="word"><br>
            <label for="color">Choose color:</label>
            <div class="color_list">
                <input class="radio_buttons" type="radio" name="color" value="red">Red<br>
                <input class="radio_buttons" type="radio" name="color" value="green">Green<br>
                <input class="radio_buttons" type="radio" name="color" value="blue">Blue<br>
                <input type="checkbox" name="big_font">show in BIG fonts!<br>
            </div>
            <input type="submit" value="Add to session">
        </form>
      </div>
      <div id="right_half">
        <form action="/session_words/clear" method="POST">
          {% csrf_token %}
          <input class="submit_button" type="submit" name="submit" value="Clear Session">
        </form>
        {% if request.session.word %}
          {% for word in request.session.word %}
            <p><span style="color:{{ word.color }}" class="{{ word.big }}">{{word.word}}</span> - added on {{ word.created_at }}</p>
          {% endfor %}
        {% endif %}
      </div> 
    </div>
  </body>
</html> -->